# Node
node_modules/
# pnpm lock
pnpm-lock.yaml
# envs
.env
.env.local
# build / output
dist/
build/
# IDEs
.vscode/
.idea/
.DS_Store
GIT

# Prisma generated client
/generated/
**/generated/
**/node_modules/
/packages/*/node_modules

# SQLite database files
*.db
*.db-journal
*.db-wal
*.db-shm